<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_resource_list, resource: Spree::QuestionCategory.model_name.human(count: :many)), spree.admin_question_categories_path, icon: 'arrow-left', class: 'btn-primary' %>
<% end %>

<%= form_for [:admin, resource] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :name, Spree::QuestionCategory.human_attribute_name(:name) %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= render "spree/admin/shared/#{resource.new_record? ? 'new' : 'edit'}_resource_links" %>
<% end %>
